html {
  background: url(https://source.unsplash.com/category/technology/800x600) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: rgba(255,255,255,0.9);  
}

.buttons-container {
  text-align: right;
  padding: 5% 0;
}

.quote-container {
  transition: 1s;
  margin-bottom: 80px;
}

.quote-content {

}

.quote-author {

}

.loading {
  opacity: 0.05;
}

.loaded {
  opacity: 1;
}

.footer {
  font-size: small;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  border-top-style: dotted;
  border-top-width: thin;
  border-color: pink;
  background-color: rgba(255,255,255,0.5);
  color: darkgrey;
}